body {
  background-color:black;
  padding-top:50px;
}
h1 {
  background:#111;
  color:#fff;
  font-family: helvetica;
  font-size:24px;
  height:50px;
  line-height:50px;
  padding:0 20px;
  position:fixed;
  top:0;
  width:100%;
  margin:0;
  z-index:1;
}
.portraits li {
  display:inline;
  float:left;
  position:relative;
}
.portraits img {
  width:100%;
}
.img_b {
  display:none;
}
li:hover .img_a {
  display:none;
}
li:hover .img_b {
  display:block;
}
.portraits .name {
   display: none;
   position: absolute;
   bottom: 0;
   background:rgba(0,0,0,0.88);
   width: 100%;
   padding: 10px 0;
   text-align: center;
   color: #fffafa;
   line-height: 14px;
   font-family: helvetica;
 }
 .portraits:hover .name {
   -webkit-animation-duration: 1s;
   -webkit-animation-name: slidein;
   display: block;
 }
 @-webkit-keyframes slidein {
   from {
     bottom: -24px;
   }

   to {
     bottom: 0;
   }
 }

@media screen and (min-width:1024px) {
  li {
    width:20%;
  }
}
@media screen and (max-width:1024px) {
  li {
    width:25%;
  }
}
@media screen and (max-width:600px) {
  li {
    width:50%;
  }
}
@media screen and (max-width:240px) {
  li {
    width:100%;
  }
}
