body {
  background-color:black;
  padding-top:50px;
}
h1 {
  background:#111;
  color:#fff;
  font-family: helvetica;
  font-size:24px;
  height:50px;
  line-height:50px;
  padding:0 20px;
  position:fixed;
  top:0;
  width:100%;
  margin:0;
  z-index:1;
}

.portraits li {
  display:inline;
  float:left;
  position:relative;
}
.portraits img {
  display:block;
  width:100%;
}
.tn01{
    display:block;
    width:720px;
    height:480px;
    background:url('http://assets.sixtyoneminuteportraits.com/andrew/andrew.png');
}
.tn01:hover {
    background:url('http://assets.sixtyoneminuteportraits.com/andrew/andrew_b.gif');
}

@media screen and (min-width:1024px) {
  li {
    width:20%;
  }
}
@media screen and (max-width:1024px) {
  li {
    width:25%;
  }
}
@media screen and (max-width:600px) {
  li {
    width:50%;
  }
}
@media screen and (max-width:240px) {
  li {
    width:100%;
  }
}
