body {
  background-color:black;
  padding-top:50px;
}
h1 {
  background:#111;
  color:#fff;
  font-family: helvetica;
  font-size:24px;
  height:50px;
  line-height:50px;
  padding:0 20px;
  position:fixed;
  top:0;
  width:100%;
  margin:0;
  z-index:1;
}
.portraits li {
  display:inline;
  float:left;
  position:relative;
}
.portraits img {
  width:100%;
}
.img_b {
  display:none;
}
li:hover .img_a {
  display:none;
}
li:hover .img_b {
  display:block;
}
/*.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes fadeIn {
  0% {opacity: 0;}  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}
*/
@media screen and (min-width:1024px) {
  li {
    width:20%;
  }
}
@media screen and (max-width:1024px) {
  li {
    width:25%;
  }
}
@media screen and (max-width:800px) {
  li {
    width:50%;
  }
}
@media screen and (max-width:480px) {
  li {
    width:100%;
  }
}