body {
  background-color:black;
  padding-top:50px;
}
h1 {
  background:#111;
  color:#fff;
  font-family: helvetica;
  font-size:16px;
  height:50px;
  line-height:50px;
  padding:0 20px;
  position:fixed;
  top:0;
  width:100%;
  margin:0;
  z-index:1;
}
.portraits li {
  display:inline;
  float:left;
  position:relative;
  margin: 0;
}
.portraits img {
  width:100%;
}
.img_b {
  display:none;
}
li:hover .img_a {
  display:none;
}
li:hover .img_b {
  display:inline;
}
@media screen and (min-width:1024px) {
  li {
    width:20%;
  }
}
@media screen and (max-width:1024px) {
  li {
    width:25%;
  }
}
@media screen and (max-width:800px) {
  li {
    width:50%;
  }
}
@media screen and (max-width:480px) {
  li {
    width:100%;
  }
}