body {
  background-color:black;
  padding-top:50px;
}
h1 {
  background:#111;
  color:#fff;
  font-family: helvetica;
  font-size:24px;
  height:50px;
  line-height:50px;
  padding:0 20px;
  position:fixed;
  top:0;
  width:100%;
  margin:0;
  z-index:1;
}
.portraits li {
  display:inline;
  float:left;
  position:relative;
}
.portraits img {
  width:100%;
}
.img_b {
  display:none;
}
li:hover .img_a {
  display:none;
}
li:hover .img_b {
  display:block;
}
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  li {
    width:20%;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  li {
    width:25%;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  li {
    width:50%;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  li {
    width:50%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  li {
    width: 50%;
  }
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  li {
    width:100%;
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  li {
    width:100%;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-device-width:320px) and (max-device-width : 480px) {
  li {
    width:100%;
  }
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
  li {
    width:100%;
  }
}
